<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<title>Jornalzinho UnB online</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="style.css" media="all" /> 
	
</head>
<body>
<!-- Menu vertical -->
<div class="menuvertical">
<ul id="nav">
<li class="titulo">MENU</li>
	<ul>
		{% for topico in lista_editorias): %}
		<li><a href="{{ topico.nome }}.html">{{topico.nome}}</a></li>

	</ul>

<a href="http://www.cic.unb.br" target="_blank"><img src="img/logo3.png" alt="unb" /></a>	
	</ul>
</div>
	

<div>
<h1>XXXXXXXXXXXXX</h1>
</div>

</body>
<!-- Rodapé -->
<footer>
<div class="rodape" align="center">

Universidade de Brasília - Departamento de Ciências da Computação<br>
Site desenvolvido por: Edison Ishikawa<br>

</div>
</footer>

</html>
