{% extends 'portal/index.html' %}
{% block content %}
  <h2>Bem-vindo ao Portal Jornalismo de Dados!</h2>
  <br>
  <p>
    <i>
      "O Jornalismo de Dados é uma modalidade de produção digital de notícias que utiliza
      grandes bases de dados para elaborar peças de conteúdo focadas em correlações informacionais,
      além de se valer de recursos gráficos e interativos para tornar mais agradável a experiência de visualização
      do usuário consumidor de notícias."
    </i> - Érico Mafra
  </p>
  <br>
  <ul>
    <li>
      <p>Este portal foi desenvolvido com o objetivo de fornecer um centro de referência para alunos
        e demais interessados na grande e emergente área de <b>Jornalismo de Dados!</b>
      </p>
    </li>
    <li>
      <p>
        Além de referências científicas e de portais na internet, este portal também contem uma ferramenta
        para auxilar entusiastas na coleta de dados do <b>Twitter</b> e uma ferramenta para gerar infográficos.
      </p>
    </li>
  </ul>
{% endblock %}