{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>EDUCAÇÃO 3.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'site_est/css/main.css' %}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://localhost:8000">EDUCAÇÃO 3.0</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://localhost:8000">Home</a></li>
					<li><a href="http://localhost:8000/generic">Educação + Tecnologia</a></li>
					<li><a href="http://localhost:8000/aula">Aula Invertida</a></li>
					<li><a href="http://localhost:8000/web">WEB e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000/edu">Educação e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000">Quiz:: Teste Seus Conhecimentos</a></li>
					<li><a href="http://localhost:8000/labs">Tutoriais Sobre Tecnologia</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Aula Invertida</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>Um novo jeito</h2>
						</header>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA aula invertida é uma maneira de ensinar que está mudando a forma como repassamos o conhecimento, revolucionando o aprendizado. Essa proposta veio dos Professores de química Jonathan Bergmann e Aaron Sams que colocaram suas ideias em prática pela primeira vez nas salas de aula da Woodland Park High School, em Woodland Park, no Colorado, EUA.</p>
						<hr />
						<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px;" src="{% static "site_est/images/a2.jpg" %}" alt="Pic 01"></div>

						<h3>Mas como seria essa metodologia?</h3>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEssa metodologia consiste nos professores proporem assuntos para o aluno levar para o seu ambiente de estudos, pesquisar sobre, seja em livros, internet ou qualquer maneira de acesso à informação, e depois esses alunos voltam com esse conteúdo em mente para discutir com o professor que debate com o aluno. Essa discussão de ideias faz com que o aluno não apenas decore um determinado conteúdo mas sim aprenda-o de verdade e o repasse de maneira concreta.</p>
						<hr />
						<p> <br> Fontes: <a class="logo" target="_blank" href="http://www.filosofiacienciaarte.org/attachments/article/748/BMN-AULA%20INVERTIDA%20Programac%CC%A7a%CC%83o%20-23AGOSTO17-4.pdf">Filosofia e Arte</a></p>
						<p></p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Sobre</h3>
							<p>Com a proposta de colocar em prática o método de ensino de acordo com o modelo da Educação 3.0, a disciplina Programação Web(Tópicos Avançados em Computadores) - TAC - UnB propôs o desenvolvimento deste projeto. </p>
						</section>
						<section>
							<h4>Professores</h4>
							<ul class="alt">
								<li><a href="#">Benedito Medeiros Neto</a></li>
								<li><a href="#">Edison Ishikawa</a></li>
							</ul>
						</section>
						<section>
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; ribasProject
					</div>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="{% static 'site_est/js/jquery.min.js' %}"></script>
			<script src="{% static 'site_est/js/browser.min.js' %}"></script>
			<script src="{% static 'site_est/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'site_est/js/util.js' %}"></script>
			<script src="{% static 'site_est/js/main.js' %}"></script>

			<script src="{% static 'site_est/js/script.js' %}"></script>

	</body>
</html>