{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>EDUCAÇÃO 3.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'site_est/css/main.css' %}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://localhost:8000">EDUCAÇÃO 3.0</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://localhost:8000">Home</a></li>
					<li><a href="http://localhost:8000/generic">Educação + Tecnologia</a></li>
					<li><a href="http://localhost:8000/aula">Aula Invertida</a></li>
					<li><a href="http://localhost:8000/web">WEB e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000/edu">Educação e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000">Quiz:: Teste Seus Conhecimentos</a></li>
					<li><a href="http://localhost:8000/labs">Tutoriais Sobre Tecnologia</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Educação e suas evoluções</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>As Mudanças</h2>
							<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px;" src="{% static "site_est/images/e1.jpeg" %}" alt="Pic 01"></div>
						</header>
						<h3>Educação 1.0</h3>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA Educação 1.0 é o método de ensino em que o professor repassa seu conhecimento(todas as disciplinas) a um único aluno, seja em residência ou um local reservado, nessa época quem tinha acesso a educação eram só pessoas de muita posse, por exemplo nobres. Esse tipo de aula era focado no professor onde o aluno tem que apenas sentar e escutar e realizar avaliações, ou seja, decorar conteúdo. A diferença entre a 1.0 e a 2.0 é que em vez de um aluno, seriam vários alunos em uma sala focado em assistir o professor explicar as disciplinas, esse tipo de ensino é inclinado a formar os alunos para o mercado de trabalho, sendo treinados a realizar tarefas repetitivas, como provas, exames, etc… </p>
						<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px; " src="{% static "site_est/images/e2.jpeg" %}" alt="Pic 01"></div>

						<hr />
                        <h3>Educação 2.0</h3>
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHoje em dia a Educação 2.0 ainda persiste em várias instituições de ensino, sejam de ensino médio ou superior. Apesar desse método ainda predominar, a transição para a Educação 3.0 está ganhando seu espaço.</p>
                        <hr />
                        <h3>Educação 3.0</h3>
						<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px; width:800px;" src="{% static "site_est/images/e3.jpg" %}" alt="Pic 01"></div>

                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA 3.0 não é mais focada no Professor, em que ele tem que explicar e o aluno decorar, e sim em uma interação entre ambos onde o aluno entende o conteúdo e leva a discussão até o professor e ele rebate tirando dúvidas e colocando mais questionamentos na mente do aluno. Dessa maneira o aluno assimila o conteúdo de forma enraizada, ou seja, aprende de verdade. O professor está em um novo mundo onde a maneira de ensinar não é mais a mesma, onde a forma como o aluno aprende não é mais a mesma, ele precisa datar de novas tecnologias, de novas concepções de ensino.</p>
                        <hr />

						<p><br> Fontes: <a class="logo" target="_blank" href="https://scholarworks.boisestate.edu/cgi/viewcontent.cgi?article=1104&context=edtech_facpubs">Moving from Education 1.0 Through Education 2.0 - Towards Education 3.0 - Jackie Gerstein
</a></p>
						<p></p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Sobre</h3>
							<p>Com a proposta de colocar em prática o método de ensino de acordo com o modelo da Educação 3.0, a disciplina Programação Web(Tópicos Avançados em Computadores) - TAC - UnB propôs o desenvolvimento deste projeto.</p>
						</section>
						<section>
							<h4>Professores</h4>
							<ul class="alt">
								<li><a href="#">Benedito Medeiros Neto</a></li>
								<li><a href="#">Edison Ishikawa</a></li>
							</ul>
						</section>
						<section>
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; ribasProject
					</div>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="{% static 'site_est/js/jquery.min.js' %}"></script>
			<script src="{% static 'site_est/js/browser.min.js' %}"></script>
			<script src="{% static 'site_est/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'site_est/js/util.js' %}"></script>
			<script src="{% static 'site_est/js/main.js' %}"></script>

			<script src="{% static 'site_est/js/script.js' %}"></script>

	</body>
</html>