{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>EDUCAÇÃO 3.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'site_est/css/main.css' %}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://localhost:8000">EDUCAÇÃO 3.0</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://localhost:8000">Home</a></li>
					<li><a href="http://localhost:8000/generic">Educação + Tecnologia</a></li>
					<li><a href="http://localhost:8000/aula">Aula Invertida</a></li>
					<li><a href="http://localhost:8000/web">WEB e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000/edu">Educação e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000">Quiz:: Teste Seus Conhecimentos</a></li>
					<li><a href="http://localhost:8000/labs">Tutoriais Sobre Tecnologia</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>A educação e sua relação com a tecnologia</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>educação + tecnologia</h2>
						</header>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspComo sabemos a educção passou por várias transformaçoes ao longo do tempo, evoluindo de acordo com as necessidades da sociedade mesmo que aos poucos. A forma de como se transmitir conhecimento passou por várias transformações, partindo da primeira a educação 1.0, até a mais conhecida educação 3.0 ainda que ela não seja fielmente utilizada. Do mesmo jeito que a educação evoluiu, a internet e as tecnologias tambem evoluiram, e a evolução não foi propriamente dita  da tecnologia em si, mas sim na forma de como a utilizamos. O nascimento da internet trouxe imensas possibilidades, como compartilhar informações de inúmeras formas, se conectar com pessoas de lados opostos do globo, e com a evolução da internet a maneira de usá-la também mudou. As transformações partiram da WEB 1.0 ate a WEB 3.0. Tá mas e como esses dois assuntos se relacionam?!</p>
						<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px;" src="{% static "site_est/images/g2.png" %}" alt="Pic 01"></div>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA internet se pararmos para pensar é a disseminação de informações, e para que espalhamos essas informações? Exato, para transmitir conhecimento que é a própria forma de educar. Imagine que voltamos no tempo e precisamos procurar por uma determinada informação, aprender sobre um assunto, nesse tempo voce nao podera se conectar e fazer uma pesquisa no “Google”, você terá que se deslocar até uma fonte de informação no caso a mais óbvia uma biblioteca. Quando chegarmos lá e encontrarmos por exemplo uma enciclopédia voce nao podera usar um computador para efetuar a busca naquele livro enorme e ir direto a sua resposta e sim terá que passar talvez horas lendo até encontrar o que deseja. O que esse exemplo hipotético mostra é que a internet basicamente facilitou a troca de informações e conhecimento. Então a evolução da educação está atrelada de uma certa forma a evolução da internet ou Web digamos assim.</p>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMesmo que esses assuntos se relacionam entre si, essa tecnologia ainda não é aplicada da forma correta, muitas vezes o que poderia ser uma evolução se tornou um atraso, isso ocorre porque muitas vezes a maneira de utilizarmos não contribui para o aprendizado. Como diz o Doutor em Educação Edvaldo Couto “A mera presença dos objetos técnicos em sala de aula não significa necessariamente inovação. Pode até ser um grande retrocesso. O computador sozinho não faz nada”.</p>
						<hr />
						<h3>Buscando melhorar..</h3>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAlguns pontos que podem melhorar ou até acabar com esse gargalo entre a relação da tecnologia com a educação é a melhora da infraestrutura tecnológica, o acesso a rede, e por último professores inseridos a cultura digital.</p>
						<div style="display: flex; justify-content: space-around; align-items: center;"><img class="" style="margin-bottom: 30px; width: 800px;" src="{% static "site_est/images/g3.png" %}" alt="Pic 01"></div>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMuitas escolas recebem computadores mas não tem acesso a internet, as vezes não têm água potável, não tem uma biblioteca e ocorre de nao ter nem professores suficientes. Uma ampliação de políticas públicas é essencial para a melhora da infraestrutura tecnológica das escolas. O acesso a rede é outro problema, estender a conexão é uma necessidade básica que todos devem ter acesso. E por último os professores devem saber lidar com a evolução da tecnologia, atualmente muitos professores não sabem o que e nem como faz uso das tecnologias digitais em suas práticas docentes. Muitas vezes pensamos que um curso de poucas horas para ensinar a ligar e desligar aparelhos já é estar inserido-o no mundo tecnológico mas não, os professores devem ser letrados digitalmente, ter autonomia e liberdade, precisam ser integrados na cultura digital.</p>
						<hr />
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspÉ incrível o fato de que qualquer pessoa conectada na internet pode contar a sua história, contar sobre o seu jeito de viver, de ver os acontecimentos. E a web 3.0 tornou isso muito mais forte e permitiu que cada indivíduo pudesse fazer isso acontecer. Muitos professores exemplificam o sucesso que pode ser a conexão entre a educação e a web, pois eles vivem conectados, são incríveis narradores de si, mas o mais importante sobre suas práticas docentes. Esses assuntos especialmente nas redes sociais orientam, estimulam e se misturam a milhares de outras narrativas de alunos. Qualquer processo de ensino e aprendizagem se mostra mais rico e interessante em meio a troca contínuas entre esses dois lados, exemplificando o poder da Educação 3.0/Web 3.0.</p>
						<div style="display: flex; justify-content: space-around; align-items: center; "><img class="" style="margin-bottom: 30px; width: 800px;" src="{% static "site_est/images/g4.png" %}" alt="Pic 01"></div>
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspO nosso maior desafio é incentivar os professores a inovarem em suas práticas docentes, ou seja, na hora de ensinar, usando as redes sociais ou outro recurso de compartilhamento. O mais importante não é apenas distribuir tarefas, mas, principalmente, criar e manter espaços contínuos e ativos de discussões, produções e difusão de conhecimento.</p>
						<hr />
						<p><br> Fontes: <a class="logo" href="https://porvir.org/">PorVir</a></p>
						<p></p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Sobre</h3>
							<p>Com a proposta de colocar em prática o método de ensino de acordo com o modelo da Educação 3.0, a disciplina Programação Web(Tópicos Avançados em Computadores) - TAC - UnB propôs o desenvolvimento deste projeto.</p>
						</section>
						<section>
							<h4>Professores</h4>
							<ul class="alt">
								<li><a href="#">Benedito Medeiros Neto</a></li>
								<li><a href="#">Edison Ishikawa</a></li>
							</ul>
						</section>
						<section>
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; ribasProject
					</div>
				</div>
			</footer>
		<!-- Scripts -->

			<script src="{% static 'site_est/js/jquery.min.js' %}"></script>
			<script src="{% static 'site_est/js/browser.min.js' %}"></script>
			<script src="{% static 'site_est/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'site_est/js/util.js' %}"></script>
			<script src="{% static 'site_est/js/main.js' %}"></script>

			<script src="{% static 'site_est/js/script.js' %}"></script>

	</body>
</html>