{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>EDUCAÇÃO 3.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'site_est/css/main.css' %}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://localhost:8000">EDUCAÇÃO 3.0</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://localhost:8000">Home</a></li>
					<li><a href="http://localhost:8000/generic">Educação + Tecnologia</a></li>
					<li><a href="http://localhost:8000/aula">Aula Invertida</a></li>
					<li><a href="http://localhost:8000/web">WEB e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000/edu">Educação e Suas Evoluções</a></li>
					<li><a href="http://localhost:8000">Quiz:: Teste Seus Conhecimentos</a></li>
					<li><a href="http://localhost:8000/labs">Tutoriais Sobre Tecnologia</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>EDUCAÇÃO 3.0</h1>
					<p>Uma abordagem sobre a evolução da metodologia de ensino até o momento atual.</p>
				</div>

				<video type="video/mp4" controls autoplay loop muted playsinline>
        			<source src="{% static "site_est/images/banner.mp4" %}" type="video/mp4">
    			</video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Descubra..</h2>
						<p>Separamos alguns conteúdos que podem ajudá-lo a entender e a poder fazer parte desse novo mundo.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="http://localhost:8000/generic" class="icon fa-files-o" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>Educação + Tecnologia</h3>
								</header>
								<p>A internet se pararmos para pensar é a disseminação de informações, e para que espalhamos essas informações? Exato, para...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="http://localhost:8000/aula" class="icon fa-files-o" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>Aula Invertida</h3>
								</header>
								<p>A aula invertida é uma maneira de ensinar que está mudando a forma como repassamos o conhecimento, revolucionando o...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="http://localhost:8000/web" class="icon fa-files-o" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>WEB e suas evoluções</h3>
								</header>
								<p>De certa forma algumas pessoas pensam que a denominação da Web, seja 1.0, 2.0 ou 3.0 são evoluções da tecnologia em si, mas não é isso que...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="http://localhost:8000/edu" class="icon fa-files-o" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>Educação e Suas Evoluções</h3>
								</header>
								<p>O professor está em um novo mundo onde a maneira de ensinar não é mais a mesma, onde a forma como o aluno aprende não é mais...</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>Quiz:: teste seus conhecimentos</h3>
								</header>
								<p>Teste seus conhecimentos sobre que aprendeu em nosso site,<br> BOA SORTE</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="http://localhost:8000/labs" class="icon fa-qrcode" style="color: #5CC1CF;"><span class="label">Icon</span></a>
									<h3>tutoriais sobre tecnologia</h3>
								</header>
								<p>Assuntos diversos sobre programação de computadores criado pelos alunos da disciplina Programação Web(Tópicos Avançados em Computadores) - TAC - UnB - 2019/2.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h3 style="font-size: 20pt; font-style: italic; color: white; text-shadow: black 0.1em 0.1em 0.2em;">“É possível desejar e imaginar que brevemente as paredes poderão ser derrubadas e que a escola será não um lugar, mas a extraordinária rede de conexões das pessoas cada vez mais empenhadas em processos de ensino e aprendizagem colaborativos”</h3>
					
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Educação 3.0: oito passos para a mudança - ADM Talks</h2>
						<p>Como as escolas podem nos preparar para o futuro se elas não estão preparadas para o presente? O professor da Universidade da cidade de Nova York James G. Lengel explica como as escolas atuais ainda estão despreparadas para o ambiente de trabalho 3.0 e como elas podem se atualizar através de 8 passos.</p>
						<p><a class="logo" target="_blank" href="https://www.youtube.com/watch?v=AdQIYIg4-Ww">Ver no YouTube</a></p>
					</header>
					
					<div style="width: 100%; height: auto; display: flex; justify-content: center; align-items: center; flex-direction: column; ">
					<video type="video/mp4" controls autoplay loop muted playsinline width='50%' height='40%'>
        			<source src="{% static "site_est/images/edu3.mp4" %}" type="video/mp4">
    				</video>
					
					</div>
					
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Sobre</h3>
							<p>Com a proposta de colocar em prática o método de ensino de acordo com o modelo da Educação 3.0, a disciplina Programação Web(Tópicos Avançados em Computadores) - TAC - UnB propôs o desenvolvimento deste projeto.</p>
						</section>
						<section>
							<h4>Professores</h4>
							<ul class="alt">
								<li><a href="#">Benedito Medeiros Neto</a></li>
								<li><a href="#">Edison Ishikawa</a></li>
							</ul>
						</section>
						<section>
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; ribasProject
					</div>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="{% static 'site_est/js/jquery.min.js' %}"></script>
			<script src="{% static 'site_est/js/browser.min.js' %}"></script>
			<script src="{% static 'site_est/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'site_est/js/util.js' %}"></script>
			<script src="{% static 'site_est/js/main.js' %}"></script>

			<script src="{% static 'site_est/js/script.js' %}"></script>

	</body>
</html>